<a href="https://colab.research.google.com/github/renatamontanhana/introdu-o-a-Machine-Learning/blob/main/introdu%C3%A7%C3%A3o_a_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#pelo longo?
#perna curta?
#faz au au

porco1 = [0,1,0]
porco2 = [0,1,1]
porco3 = [1,1,0]

cachorro1 = [0,1,1]
cachorro2 = [1,0,1]
cachorro3 = [1,1,1]
#nada a ver com os de cima

treino_x = (porco1, porco2, porco3, cachorro1, cachorro2, cachorro3)
treino_y = (1,1,1,0,0,0) #0cachorro 1porco

In [10]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC()

In [12]:
animal_misterioso = (1,1,1)
modelo.predict([animal_misterioso])

array([0])

In [20]:
misterio1 = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0,1,1]

In [22]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(teste_y, previsoes)

0.6666666666666666

In [24]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.2/ratings.csv"
dados = pd.read_csv(uri)
dados.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [25]:
dados.sample(5)

       userId  movieId  rating   timestamp
75926     477    40815     3.5  1269832366
23041     156     5377     3.5  1106882030
42015     287     1784     2.5  1110230998
43063     288     8961     4.0  1112209455
34850     233    48780     3.0  1448816302

In [35]:
y = dados["userId"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: userId, dtype: int64

In [41]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

modelo.fit(treino_x, treino_y)
accuracy_score(y, previsoes)*100

NameError: ignored